* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header-nav {
  background: #1cd1b0;
  padding: 0.8rem;
}
.header-title {
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #00669f;
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 40px;
}
.header-nav,
.header-title {
  padding-left: 1.5rem;
}
main {
  width: 100%;
  padding: 9rem 8rem;
}
.card {
  display: inline-block;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  width: 300px;
  height: 529px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.batman {
  background-image: url(/assets/bground-batman.png);
  background-repeat: no-repeat;
}
.card-tit {
  display: block;
  position: absolute;
  top: 40%;
  left: 34%;
  background-color: white;
}
.card-txt {
  padding: 2rem;
}
.profile-image-container {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 30%;
  border-radius: 50%;
}
.profile-image-container img {
  border-radius: 50%;
}

i {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 3%;
}
.card-title {
  padding: 0.8rem;
  margin-top: 4rem;
  font-weight: 400;
  font-size: 1.8rem;
}
.card-text {
  padding: 0 1rem 1rem;
  text-align: start;
  color: #333333;
}
.card-button {
  border: none;
  background-color: #00669f;
  padding: 0.8rem;
  color: #f3f3f3;
  font-size: 15px;
  width: 8.2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
footer {
  background-color: #00669f;
  padding: 1rem;
  text-align: start;
  color: #fff9f9;
}
